@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-info {
  padding: 1rem;

  @include tablet {
    padding: 1rem 2.5rem;
  }

  @include desktop {
    padding: 2rem 0;
  }

  &__title {
    @include page-header;
    margin-bottom: 1rem;
  }

  &__content-wrapper {
    display: flex;
    gap: 5rem;
    border-top: $divider;
    border-bottom: $divider;
    padding: 1rem 0;

    @include tablet {
      justify-content: space-between;
      border-top: none;
      padding-top: 0;
      padding-bottom: 0.5rem;
    }

    @include desktop {
      padding-right: 1.75rem;
    }
  }

  &__name-and-date,
  &__views-and-likes {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @include tablet {
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__views-wrapper,
  &__likes-wrapper {
    display: flex;
    gap: 0.5rem;
  }

  &__subheader {
    @include sub-header;
  }

  &__detail {
    @include body-text;
    color: $silver;

    @include tablet {
      font-size: 0.75rem;
    }
  }

  &__description {
    margin-top: 1rem;
    @include body-text;

    @include tablet {
      margin-top: 1.7rem;
    }

    @include desktop {
      padding-right: 1.75rem;
    }
  }
}
