@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $font-bold;
}

@mixin section-header {
}

@mixin sub-header {
  font-size: 0.82rem;
  line-height: 1.125rem;
  font-weight: $font-bold;
}

@mixin body-text {
  font-size: 0.82rem;
  line-height: 1.125rem;
}

@mixin label-styles {
}
