@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $font-bold;

  @include tablet {
    font-size: 2.0625rem;
    line-height: 2.75rem;
  }
}

@mixin section-header {
}

@mixin sub-header {
  font-size: 0.82rem;
  line-height: 1.125rem;
  font-weight: $font-bold;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@mixin body-text {
  font-size: 0.82rem;
  line-height: 1.125rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@mixin label-styles {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: $silver;
  text-transform: uppercase;
  font-weight: $font-demi;
}
