// Primary Colors
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

// Secondary Colors
$brainflix-dark-black: #000000;
$brainflix-dark-blue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Font Weights
$font-bold: 700;
$font-demi: 500;

// Screen Sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$divider: solid 1.5px $mercury;
