@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.next-videos {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  @include tablet {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @include desktop {
    padding-left: 1rem;
    padding-right: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__title {
    @include label-styles;
    margin-bottom: 1rem;
  }
}

.video-list {
  @include tablet {
    width: 45%;
  }

  @include desktop {
    width: 100%;
  }
}
.video {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.4rem;

  &:hover {
    cursor: pointer;
  }

  @include tablet {
    margin-bottom: 1rem;
  }

  &__thumbnail {
    border-radius: 4px;
    background-color: $mercury;
    width: 6rem;
    height: 3.75rem;
    object-fit: cover;

    @include tablet {
      width: 7rem;
      height: 4rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3.75rem;
    @include body-text;

    @include tablet {
      height: 4rem;
    }
  }

  &__title {
    @include body-text;
    font-weight: $font-bold;
  }
}
