@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments-section {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  @include tablet {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0rem;
    padding-bottom: 3.5rem;
  }

  &__subheader {
    @include sub-header;
  }
}

.form {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: $divider;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    padding-right: 1.75rem;
  }

  &__content-wrapper {
    width: 100%;

    @include tablet {
      width: 100%;
    }
  }

  &__user-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 20%;
    margin-top: 1.4rem;
  }

  &__input-label {
    @include label-styles;
    margin-bottom: 0.25rem;
  }

  &__input {
    width: 100%;
    border-radius: 4px;
    border: $divider;
    padding: 0.75rem;
    background-color: $alabaster;
    margin-bottom: 0.6rem;

    @include tablet {
      height: 2.5rem;
      overflow: hidden;
    }

    &::placeholder {
      color: $brainflix-black;
      font-size: 0.82rem;
    }
  }

  &__tablet-flex-container {
    @include tablet {
      display: flex;
      width: 100%;
    }
  }

  &__add-comment-btn {
    @include button-styles;

    @include tablet {
      width: 35%;
      margin-left: 1.5rem;
    }
  }

  &__add-icon {
    position: absolute;
    left: 0.7rem;
    width: 1.25rem;
  }

  &__button-text {
    margin: auto;
    font-weight: $font-demi;
    text-transform: uppercase;
    color: white;
  }
}

.comment {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: $divider;

  @include tablet {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include desktop {
    padding-right: 1.75rem;

    &:last-child {
      border-bottom: none;
    }
  }

  &__avatar-placeholder {
    background-color: $mercury;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
  }

  &__body {
    flex: 2;
  }

  &__author-and-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__author {
    @include body-text;
    font-weight: $font-bold;
  }

  &__date {
    @include body-text;
    color: $silver;
  }

  &__text {
    @include body-text;
  }
}
