@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

video {
  aspect-ratio: 16/9;
  background-color: $brainflix-dark-black;
}

.current-video__thumbnail {
  @include tablet {
    &::poster {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }
}
