@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-upload {
  &__wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: $divider;

    @include tablet {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    @include desktop {
      padding-left: 9%;
      padding-right: 9%;
    }
  }
}

.title {
  @include page-header;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  @include tablet {
    margin-top: 3rem;
    margin-bottom: 1.75rem;
    padding-bottom: 1.5rem;
    border-bottom: $divider;
  }
}

.thumbnail {
  &__container {
    @include desktop {
      width: 50%;
    }
  }

  &__label {
    @include label-styles;
    margin-bottom: 0.25rem;
  }

  &__img {
    width: 100%;
    border-radius: 4px;
    background-color: $mercury;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 100%;
    }
  }
}

.upload-form {
  margin-top: 0.5rem;

  @include desktop {
    width: 100%;
    margin-top: 0;
  }

  &__input-label {
    @include label-styles;
  }

  &__input {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: $divider;
    padding: 0.75rem;
    background-color: $alabaster;
    margin-bottom: 1rem;

    &::placeholder {
      color: $brainflix-black;
      font-size: 0.82rem;
    }

    &.error {
      border: 1px solid #d22d2d;
    }

    @include desktop {
      margin-bottom: 1.2rem;
      margin-top: 0.25rem;
    }
  }

  &__btn-container {
    @include tablet {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      border-top: $divider;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      gap: 1rem;
    }
  }

  &__publish-btn {
    @include button-styles;
    margin-top: 1.5rem;

    @include tablet {
      width: 23%;
      order: 1;
    }

    @include desktop {
      width: 15%;
    }
  }

  &__publish-icon {
    position: absolute;
    left: 0.7rem;
    width: 1.25rem;
  }

  &__btn-text {
    margin: auto;
    font-weight: $font-demi;
    text-transform: uppercase;
    color: white;
  }

  &__cancel-btn {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: $brainflix-blue;
    font-weight: $font-demi;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2.5rem;

    &:hover {
      background-color: transparent;
    }

    @include tablet {
      width: 23%;
      margin: 0;
    }

    @include desktop {
      width: 15%;
    }
  }

  &__desktop {
    @include desktop {
      display: flex;
      gap: 1.75rem;
      width: 100%;
    }
  }
}

.upload-notification {
  color: $brainflix-blue;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @include tablet {
    font-size: 1rem;
  }
}
