@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: $brainflix-black;

  * {
    box-sizing: inherit;
  }
}

input,
textarea {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;

  &:focus {
    outline: 2px solid $brainflix-blue;
  }
}

button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;

  &:hover {
    background-color: $brainflix-dark-blue;
    cursor: pointer;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

.desktop-layout {
  @include desktop {
    display: flex;
    padding-left: 9%;
    padding-right: 9%;

    &__info-and-comments {
      flex: 2;
    }

    &__next-videos {
      flex: 1;
      border-left: $divider;
    }
  }
}
